
.Container {
    padding:  4% 2% 0;
    width: 90%; 
    gap: 20%;
    /* margin: auto; */
    display: flex;
    align-items: center;
     justify-content:space-around;
         flex-direction: row;
    /* justify-content: center; */

}

.Content {
    flex-direction: column;
    /* line-height: 60px; */
   

}
.Content p {
    font-size: 65px;
    font-weight: 600;
    padding: 5px 5px;
    font-family: "Kodchasan", sans-serif;
    cursor: pointer;
}

.imgcomp{
    width: 100%;
    transition-delay:5s;
    transition-timing-function: linear;
}