.end{
    
    color: white;
    font-family: "Kodchasan", sans-serif;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2%;
    /* font-size: 100%; */
} 



.en{
    padding: 0 5%;
    font-family: "Kodchasan", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-around;
    /* padding: 5%; */
    color:white;
    /* border: ; */
    /* background-color: rgb(71, 219, 13); */
}

.main2{
    background-color:#7D399E;
    position: relative;
    overflow: hidden;
}

.lined{

    /* border-top: 1px solid black;
    display: flex;
    margin: 50px auto;
    width: 100%; */

    position: absolute;
    border-top: 2px solid rgb(255, 255, 255);
    bottom: 10%;
    width: 100%;
}