.graph{
    width: 40%;
  /* padding: 0% 5%; */
    color: #808080;
     font-family: "Kodchasan", sans-serif;   
}


.pho{
    display: flex;
    margin:3% auto;
    justify-content: space-between;
    width: 85%;
    
    
}
.log {
    width: 30%;
    color:#303030;
    font-family: "Kodchasan", sans-serif;
  
}

.sept{
     border-top: 1px solid #303030;
    display: flex;
    margin: 50px auto;
    width: 85%;
   

}

